.register-restaurants {
  position: relative;
  display: flex;
  align-items: flex-end;
  width: 21.94rem;
  height: 4.38rem;
  flex-shrink: 0;
}
.inputstandard {
  width: 17.31rem;
  border: 0;
  background-color: transparent;
}
.macbook-pro-16-1 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2.5rem;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-black);
  font-family: var(--font-istok-web);
}
.field {
margin-top: 1.5rem;
}